[Unit]
Description=flask based server

[Service]
WorkingDirectory=/home/vagrant/flask
ExecStart=pipenv run gunicorn -w 4 app:app

[Install]
WantedBy=multi-user.target
